<?xml version="1.0"?>
<model>
  <name>IARC Mission 7A Court Single Red Tape Strip</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Nolan Holden</name>
   <email>nolanholden@users.noreply.github.com</email>
  </author>

  <description>
    IARC Mission 7A court red tape strip. (See http://www.aerialroboticscompetition.org/mission7/resources.php .)
  </description>
</model>
