<?xml version="1.0"?>
<model>
  <name>IARC Mission 7A Roomba</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
   <name>Nolan Holden</name>
   <email>nolanholden@users.noreply.github.com</email>
  </author>

  <description>
    Rebird IARC Mission 7A ground robot (or "roomba"). See other documentation 
    for robot behaviors.
  </description>
</model>
